snippet hpt "Print php text between html"
<?php echo '${1:Type here}';?>
endsnippet


snippet hpv "Print php variables between html"
<?php echo $${1:Type here};?>
endsnippet


snippet hpb "Print php variables and text between html"
<?php echo '${1:Type here}' . $${2:Type here} . '${3:Type here}';?>
endsnippet
